@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Roboto";
}


.card-link {
    text-decoration: none;
    color: white;
}

span.badge {
    margin: 16px 0 0 16px;
    font-size: 12px;
    padding: 10px;
}

.card-body {
    margin-top: 220px;
    font-size: 14px;
}

.card-body h5 {
    font-size: 15px;
    font-weight: 700;
}