@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Roboto";
}

.logo {
    height: 45px;
    margin-left: 10px;
}

.container {
    background: white;
}

.container-homme-banner {
    height: 250px;
    background: linear-gradient(180deg,rgba(255,0,0,0) 50%, #000000 100%), url("../images/banner/banner-pokemon-2.jpg") no-repeat center/cover;
}

.container-title-home strong,
.container-title-home h1 {
    font-size: 12px;
}

.card-link {
    text-decoration: none;
    color: white;
}

span.badge {
    margin: 16px 0 0 16px;
    font-size: 12px;
    padding: 10px;
}

.card-body {
    margin-top: 220px;
    font-size: 14px;
}

.card-body h5 {
    font-size: 15px;
    font-weight: 700;
}

.img-article-admin {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

td {
    vertical-align: middle;
}

i.white {
    color: white;
}


.copyright {
    margin: 0;
    padding: 20px 0;
    color: white;
}
